.model-select-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  .model-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 380px;
    flex: 1;

    .model-and-labels {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-grow: 1;
      overflow-y: auto;
  
      .model-list {
        flex-grow: 1;
        overflow-y: auto;
      }
      .label-list {
        width: 40%;
        overflow-y: auto;
        border-left: solid 1px #d9d9d9;
        padding-left: 1rem;
      }
    }
    .pagination-area {
      margin-top: 0.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .searchbar-wrapper {
    margin-bottom: 1.3rem;
  }
}
