.gddi-aiappcanvas__collapse-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  font-size: 14px;
  color: #1a73e8;
  transition: 0.2s all ease-out;
  font-weight: 600;

  &:hover {
    background-color: #e8f0fe;
  }
}

.gddi-aiappcanvas__collapse-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
