.picker {
    position: relative;
  }

.swatch {
    width: 2rem;
    height: 1.2rem;
    border-radius: 4px;
    // border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &.disabled {
        cursor: default;
    }
}

.popover {
    position: absolute;
    // top: calc(100% + 2px);
    // left: 0;
    top: 0;
    right: calc(100% + 20px);
    z-index: 100;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(99, 39, 39, 0.15);
}