.model-specify {
  background-color: azure;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 200;

  .model-info {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    .model-info-row {
      margin-bottom: 0.5rem;
    }
    .model-name {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
