.tablecell-color {
    display: flex;
    flex-direction: row;
    align-items: center;

    .hex-color-input {
        width: 3.8rem;
        margin-left: 0.4rem;
        // border-radius: 4px;
        // border-width: 1px;
        // border-style: solid;
        // border-color: #c8c8c8;

        border: 1px solid #ddd;
        border-radius: 4px;
        background: #eee;
        outline: none;
        text-transform: uppercase;
        text-align: center;
    }
}

.filterlabels-tr-maplabels {
    font-size: inherit;
    font-style: inherit;
    .editabletext-input {
        font-size: smaller;
        height: 1rem;
    }
}