.model-selectsearch-wraper{
    display: flex;
    flex-direction: column;
    height: 100%;
    .list-with-page {
        display: flex;
        flex-direction: column;
        height: 65vh;
        .list-area {
            flex: 1;
            overflow-y: auto;
        }
        .pagination-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.3rem;
        }
    }
}