.gddi-aiappcanvas__runner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .gddi-aiappcanvas__runner-label {
    font-size: 0.7em;
    font-weight: 500;
    color: #464646;
  }

  .runner-value {
    font-family: monospace;
    flex: auto;
    color: #1876d1;
    background-color: #e7f1fe;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 1.5rem;
  }
  .runner-default {
    font-size: 0.85rem;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .runner-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .runner-number-number {
      font-size: 0.85rem;
    }

    .runner-operator {
      color: #1876d1;
      cursor: pointer;
      height: 1.2em;
      width: 1.2em;
    }
  }
}
