@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.react-flow__handle {
  height: 15px;
  width: 15px;
  border-color: var(--color-page-background);
}

.react-flow__handle-right {
  right: -8px;
  background-color: #fbdc9d;
}
.react-flow__handle-left {
  left: -8px;
  background-color: #87b6e1;
}

.gddi-aiappcanvas__simplenode-wrapper {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow-simplenode);
  // background-color: #fff;
  box-sizing: border-box;

  .gddi-aiappcanvas__simplenode {
    display: flex;
    flex-direction: column;
    width: 320px;
    .gddi-aiappcanvas__section {
      padding: 18px;
      font-size: 1.25rem;
    }
    .module-runner {
      padding-top: 4px;
      padding-bottom: 4px;
      background-image: repeating-linear-gradient(
        -45deg,
        #f3f3f3,
        #f3f3f3 1rem,
        #efebaf 1rem,
        #efebaf 2rem
      );
      background-size: 200% 200%;
      animation: barberpole 6s linear infinite;
      margin-bottom: 1rem;
    }
    .module-type-display {
      cursor: default;
      display: flex;
      padding-top: 45px;
      padding-bottom: 45px;
      margin: 18px;
      flex-direction: column;
      text-align: center;
      background-color: var(--color-moduletype-bg);
      color: var(--color-moduletype-type);
      border: 2px solid transparent;
      border-radius: 4px;
      font-weight: 600;
    }
    .roi-edit-button,
    .model-select-button {
      display: flex;
      padding: 26px;
      margin: 18px;
      flex-direction: column;
      text-align: center;
      font-weight: 700;
      // width: 300px;

      .model-name {
        width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .filterlabel-display {
        font-weight: 500;
        font-size: 0.8rem;
        margin-top: 0.2rem;
      }
    }

    .module-type-type {
      font-size: 0.65em;
      color: var(--color-moduletype-title);
      font-style: italic;
      margin-bottom: 10px;
    }
    .module-version {
      font-size: 0.65em;
      color: var(--color-moduletype-title);
      margin-top: 0.25rem;
    }

    .gddi-aiappcanvas__header {
      display: flex;
      height: 57px;
      border-bottom: 1px solid var(--color-border);
      justify-content: space-between;
      color: var(--color-svg-text);

      .gddi-aiappcanvas__dropdown-icon:hover {
        color: #999999;
      }
      .gddi-aiappcanvas__dropdown-menu {
        position: absolute;
        z-index: 1000;
        box-shadow: 0px 1px 5px #4e4e4e;
        border-radius: 6px;
        width: 200px;
        min-width: 200px;
        background-color: var(--color-button-background);
        color: var(--color-text);
        button {
          color: inherit;
          text-align: left;
          font-weight: 500;
          background: transparent;
          border: 0;
          outline: 0;
          width: 100%;
          font-size: 15px;
          padding: 15px;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
          &.disabled {
            color: var(--color-button-text-disabled);
          }
        }
      }

      .gddi-aiappcanvas__simplenode-header-left {
        display: flex;
        align-items: flex-start;
        margin-right: 1rem;
        .description-question-icon {
          font-size: 0.8rem;
          color: #00000069;
        }
      }
      .gddi-aiappcanvas__editable-text {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .gddi-aiappcanvas__simplenode-header-right {
        margin-left: 1rem;
      }
    }

    .gddi-aiappcanvas__row {
      padding: 18px;
      padding-bottom: 0px;
      font-size: 16px;
    }

    .gddi-aiappcanvas__simplenode-proprow {
      font-size: 14px;
      border-top: 1px solid var(--color-border2);
      padding: 18px;
      max-width: 22rem;
      &:first-child {
        padding-top: 0px;
        border: 0px;
      }
      .label-input-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .propname-question-icon {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}
