.propname-row {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    // flex-direction: column;

    .propname-question-icon {
        font-size: 1rem;
        cursor: pointer;
    }

    .propname-area {
        padding: 0;
    }
}

.stringchips-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.4rem;

    .chip-item {
        margin-right: 0.4rem;
        margin-bottom: 0.3rem;
    }
}